<!DOCTYPE html>
<html>
<head>
	<title>This is Vue Test Page</title>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="E:\UI-View\vue-package\vue-min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script> -->
  	<!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script> -->

</head>
<body>
	<div id="app">
		<ol>
			<li v-for='book in books'>
				{{book.text}}
			</li>
		</ol>
		
	</div>

	<div id="app-1">
		<!-- v-once 只渲染第一次，之后不会再变化 -->
		<span v-once>这个值不会改变:{{msg}}</span>
	</div>
	
	<div id ="app-2">
		<p>文本的插值:{{rawHtml}}</p>
		<p>使用v-html指令进行插值:<span v-html="rawHtml"></span></p>
	</div>

	<!-- 使用v-if 与 v-on 命令，完成点击显示或隐藏功能，v-on 可以缩写为@ -->
	<div id="app-3">
		<p v-if="seen">我是v-if，v-on命令的测试</p>
		<button @click="ifShow">{{show}}</button>
	</div>

	 <!-- 使用 v-bind 命令，可以缩写为 : -->
	<div id="app-4">
		<a :href="a">我是超链接</a>
	</div>

	<div id="app-5">
		<p>原文字:{{msg}}</p>
		<!-- 反转文本 -->
		<p>使用计算属性:{{reMsg}}</p>
	</div>



	 <script type="text/javascript">
	 	// 测试 循环 v-for 指令
  		var app = new Vue({
  			el : "#app" ,
  			data : {
  				books:[
  					{text:"Java"},
  					{text:"Python"},
  					{text:"javascript"}

  				]
  			}
  		})

  		// 测试 只渲染一次 v-once指令
  		var app1 = new Vue({
  			el : "#app-1" ,
  			data :{
  				msg : "Hello"
  			}

  		})

  		// 测试 HTML插值指令 v-html
  		var app2 = new Vue({
  			el : "#app-2" ,
  			data:{
  				rawHtml : "Html渲染测试没有通过"
  			}
  		})

  		// 使用v-if 与 v-on 命令，完成点击显示或隐藏功能
  		var app3 = new Vue({
  			el :"#app-3",
  			data:{
  				seen : true ,
  				show : "隐藏"
  			},
  			methods:{
  				ifShow:function(){
  				if (this.seen) {
  					this.seen = false ;
  					this.show = "显示" ;
  				}else{	
  					this.seen = true ;
  					this.show = "隐藏" ;
  				}
  			}
  			}
  		})

  		var app4 = new Vue({
  			el : "#app-4" ,
  			data :{
  				a : "http://www.baidu.com" 
  			}
  		})

  		// 使用计算属性computed ，进行逻辑操作
  		// 计算属性，默认没有set方法
  		var app5 = new Vue({
  			el : "#app-5" ,
  			data :{
  				msg : "Hello Vue" 
  			} ,
  			computed:{
  				// 这是使用默认的只有getter的方式
  				// reMsg:function(){
  				// 	// 返回反转的 数据
  				// 	return this.msg.split('').reverse().join('')
  				// }
  				
  				// 使用可自定义的 setter getter方式
  				reMsg:{
  					// getter
  					get:function(){
  						return this.msg.split('').reverse().join('') ;
  					},
  					set:function(value){
  						this.msg = value ;
  					}
  				}
  			}

  		})


  	</script>

  	<style type="text/css">
  	 	/*给所有的div加上边框*/
  		div{
  			border: 1px solid black ;
  		}
  	</style>

</body>
</html>